<div cds-theme="dark" class="main-container">
  <div *ngIf="showSideBar" class="content-container">
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" class="nav-trigger--bottom">
      <a clrVerticalNavLink routerLink="/main-page/teams" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="users"></cds-icon>
        My Teams
      </a>
      <a clrVerticalNavLink routerLink="/main-page/create-team" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="plus"></cds-icon>
        Create Team
      </a>
      <a clrVerticalNavLink routerLink="/main-page/notifications" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="bell" badge="info"></cds-icon>
        Notifications
      </a>
      <button class="btn btn-danger">Logout</button>
    </clr-vertical-nav>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
