<div cdkDropListGroup class="clr-row" fxLayoutGap="10px">

  <div class="clr-col-4 dashboard-cl">
    <div class="dashboard-header">
      <h3>Open</h3>
    </div>
    <div cdkDropList [cdkDropListData]="openTasks$"
         [id]="'Open'"
         (cdkDropListDropped)="drop($event)">
      <app-task *ngFor="let task of openTasks$ | async"
                class="board-dnd-list"
                [taskData]="task"
                cdkDrag [cdkDragData]="task"></app-task>
    </div>
  </div>

  <div class="clr-col-4 dashboard-cl">
    <div class="dashboard-header">
      <h3>In Progress</h3>
    </div>
    <div cdkDropList [cdkDropListData]="inProgressTasks$"
         [id]="'In Progress'"
         (cdkDropListDropped)="drop($event)">
      <app-task *ngFor="let task of inProgressTasks$ | async"
                class="board-dnd-list"
                [taskData]="task"
                cdkDrag [cdkDragData]="task"></app-task>
    </div>
  </div>

  <div class="clr-col-4 dashboard-cl">
    <div class="dashboard-header">
      <h3>Resolved</h3>
    </div>
    <div cdkDropList [cdkDropListData]="resolvedTasks$"
         [id]="'Resolved'"
         (cdkDropListDropped)="drop($event)">
      <app-task *ngFor="let task of resolvedTasks$ | async"
                class="board-dnd-list"
                [taskData]="task"
                cdkDrag [cdkDragData]="task"></app-task>
    </div>
  </div>

  <div class="clr-col-4">
   <button class="btn btn-success" (click)="openCreationWindow()">Create New Task</button>
    <button class="btn btn-success" (click)="openInvitationWindow()">Invite To The Team</button>
    <div>
      <h5>Team Members</h5>
      <ul>
        <li *ngFor="let user of users$ | async">{{user}}</li>
      </ul>
    </div>
  </div>
</div>

<clr-modal [(clrModalOpen)]="creationWindow">
  <h3 class="modal-title">Create Task</h3>
  <div class="modal-body hide-scroll">
    <form clrForm>
      <clr-input-container>
        <label>Title</label>
        <input type="text" clrInput [formControl]="this.taskCreationForm.controls.ticketTitle">
      </clr-input-container>

      <clr-input-container>
        <label>Description</label>
        <input type="text" clrInput [formControl]="taskCreationForm.controls.shortDescription">
      </clr-input-container>

      <clr-datalist-container>
        <label>Status:</label>
        <input type="text" clrDatalistInput [formControl]="taskCreationForm.controls.ticketStatus">
        <datalist>
          <option [value]="'Open'"></option>
          <option [value]="'In Progress'"></option>
          <option [value]="'Resolved'"></option>
        </datalist>
      </clr-datalist-container>

      <clr-datalist-container>
        <label>Assigned To:</label>
        <input type="text" clrDatalistInput [formControl]="taskCreationForm.controls.assignedTo">
        <datalist>
          <option *ngFor="let user of users$ | async" [value]="user"></option>
        </datalist>
      </clr-datalist-container>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-info-outline" (click)="closeCreationWindow()">Cancel</button>
    <button class="btn btn-info" (click)="createTask()">Create</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="invitationWindow">
  <h3 class="modal-title">Invitation</h3>
  <div class="modal-body">
    <clr-datalist-container>
      <label>Username:</label>
      <input type="text" clrDatalistInput [formControl]="inviteUserForm.controls.username">
      <datalist>
        <option *ngFor="let user of freeUsers$ | async" [value]="user.value"></option>
      </datalist>
    </clr-datalist-container>
  </div>
  <div class="modal-footer">
    <button class="btn btn-info-outline" (click)="closeInvitationWindow()">Cancel</button>
    <button class="btn btn-info" (click)="invite()">Invite</button>
  </div>
</clr-modal>
